.header
{
    background-color: #00bda5;
    background-image: linear-gradient(-303deg,#00a4bd,#00afb2 56%,#00bda5);
    margin-bottom : -30px;
    margin-top:-1.25em;
    height:3em;
    width:103%;
}
h1
{
    color: white;
    margin-left: 1em;
    font-family: 'Avenir Next W02,Helvetica,Arial,sans-serif';
}
.dropdown
{
    width: 60ch !important;
    height: 2;
    margin-bottom: 6;
    padding: 1px;
}
.stack
{
    margin-top: 5em;
    margin-left: 2em;
}
.closebutton
{
    margin-top: -7em !important;
    margin-left: 26em !important;
}
.css-1lwbda4-MuiStack-root {
    margin-top: 4em;
}
.css-1tywoed-MuiButtonBase-root-MuiFab-root{
    margin-top: 30em !important;
    margin-right: 3em !important;
}
.css-99lfi7-MuiDataGrid-columnsContainer {
    right: -85px !important;
}
.css-1pans1z-MuiDataGrid-virtualScroller
{
    margin-right:-75px !important;
   
}
.css-1nnf8qi-MuiDataGrid-root
{
    border-right:0em !important;
}
.MuiTextField-root
{
    margin-top: 3em;
    margin-right: 2.5em !important;
    margin-left: 2.5em !important;
   margin: 1em;
    padding: 20px;
    width: 60ch;
    height: 5px;
}
.MuiFormLabel-root
{
    margin-top: 3.5em !important;
    margin-left: 3.2em !important;
    margin-bottom: 0.4em !important;
    font-size: 14px !important;
    font-family:Avenir Next W02,Helvetica,Arial,sans-serif !important;
   
}




  



