.header
{
    background-color: #00bda5;
    background-image: linear-gradient(-303deg,#00a4bd,#00afb2 56%,#00bda5);
    margin-bottom : -1em !important;	
    margin-top:-1.25em;	
    height:4em;	
    width:100%;	
    position: fixed;
   
   
}
.label1
{
    margin-top: 3em !important;
}
h1
{
    color: white;
    margin-left: 1em;
    font-family: 'Avenir Next W02,Helvetica,Arial,sans-serif';
}
.dropdown
{
    width: 60ch !important;
    height: 2;
    margin-bottom: 6;
    padding: 1px;
}
.stack
{
    margin-top: 3em ;	
    margin-left: 23.5em;	
    margin-bottom: -7.5em;	
  	
}	
.footeer
{
    margin-top: -22.96em !important;
    position: fixed !important;
    background-color: #f5f8fa;
    border-top: 1px solid #cbd6e2;
    padding-bottom: 10px;
    padding-top: 10px;
width: 100%;
 
}
.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
overflow-x: hidden;
}
.submit{
margin-left: 4em !important;

}
.closebutton	
{	
    margin-top: -52.7em !important;	
    margin-right: -58em !important;	
   	position: fixed !important;
}	
.closebutton:hover{	
    background-color: #64748B !important;	
    color: white !important;	
}	
.css-1lwbda4-MuiStack-root {	
    margin-top: 4em;	
}	
.submit:hover	
{	
    background-color: #64748B !important;	
    color: white !important;	
}	
.css-1tywoed-MuiButtonBase-root-MuiFab-root{	
    position: fixed;	
    margin-top: 21em !important;	
    margin-right: 3em !important;	
}	
.css-99lfi7-MuiDataGrid-columnsContainer {	
    right: -85px !important;	
}	
.css-1pans1z-MuiDataGrid-virtualScroller	
{	
    margin-right:4em !important;	
   	
}	
.css-1pans1z-MuiDataGrid-virtualScroller {	
   
    width: 97em !important;	
}	
.css-14ps8yx-MuiDataGrid-virtualScroller {	
    position: relative;	
    width:250% !important;	
    margin-right: 12em;	
   	
    overflow: hidden;	
}	
.css-1nnf8qi-MuiDataGrid-root	
{	
    border-right:0em !important;	
}
.dropdown{
    margin-bottom: 2em !important;
}	
.MuiTextField-root	
{	
  
    margin-top: 4em;	
    margin-right: 2.5em !important;	
    margin-left: 2.5em !important;	
}
.css-1lwbda4-MuiStack-root {
    margin-top: 4em;
}
.MuiTextField-root
{
    margin-top: 3em;

    margin-left: 2.7em !important;
   margin: 1em;
    padding: 20px;
    width: 60ch;
    height: 2px !important;	
}	
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input	
{	
    height: 0.4375em !important;
    	
   	
}	
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root	
{	
    margin-bottom: -4em !important;	
}	
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input	
{	
    height: 0.4375em !important;	
    margin-bottom: 0em !important;	
   
}	

.MuiFormLabel-root
{
    
    margin-top: 3.3em !important;
    margin-left: 3.2em !important;
    margin-bottom: 0.4em !important;
    font-size: 14px !important;
    font-family:Avenir Next W02,Helvetica,Arial,sans-serif !important;
   
}

// .create-ticket-btn {
//     position: absolute;
//         bottom: 100px;
//         left: 10px !important;
// }


  



