.header
{
    background-color: #00bda5;
    background-image: linear-gradient(-303deg,#00a4bd,#00afb2 56%,#00bda5);
    margin-bottom : -30px;
    margin-top:-1.25em;
    height:3em;
    width:103%;
}
h1
{
    color: white;
    margin-left: 1em;
    font-family: 'Avenir Next W02,Helvetica,Arial,sans-serif';
}
.dropdown
{
    width: 60ch !important;
    height: 2;
    margin-bottom: 6;
    padding: 1px;
}
.stack
{
    margin-left: 4.3em;
    margin-bottom: 2em;
    margin-top: 3.5em;
}
.MuiTextField-root
{
    margin-left: 2.7em !important;
   margin: 1em;
    padding: 20px;
    width: 60ch;
    height: 5px;
}
.MuiFormLabel-root
{
    margin-top: 3.5em !important;
    margin-left: 3.2em !important;
    margin-bottom: 0.4em !important;
    font-size: 14px !important;
    font-family:Avenir Next W02,Helvetica,Arial,sans-serif !important;
   
}

  



