.header
{
    background-color: #00bda5;
    background-image: linear-gradient(-303deg,#00a4bd,#00afb2 56%,#00bda5);
    margin-bottom : -30px;
    margin-top:-1.25em;
    height:3em;
    width:103%;
}
h1
{
    color: white;
    margin-left: 1em;
    font-family: 'Avenir Next W02,Helvetica,Arial,sans-serif';
}
.dropdown
{
    height: 2;
    margin-bottom: 6;
    padding: 1px;
}
.stack
{
    margin-left: 4.3em;
    margin-bottom: 2em;
    margin-top: 3.5em;
}


